:root {
    --main-color : #1A1A1A;
    --secondary-color : #2F2F2F;
    --black : black;
    --white : white;
    --yellow :#F6F385;
    --red:#F26F53;
    --purple:#DDC1FC;
    --main-font : 'Montserrat', sans-serif;;
}

.win {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(10px); /* For older browsers */
  }
  
  .popup-container {
    background-color: var(--secondary-color);
    width: 45rem;
    height: 30rem;
    border-radius: 5rem;
    box-shadow: 11px 9px 26px 2px rgba(0, 0, 0, 0.40);
    text-align: center; /* Center content inside the popup */
  }

.uwon{
    color: var(--white);
    font-family: var(--main-font);
    font-size: 3rem;
    font-style: normal;
    font-weight: 1100;
    line-height: 0;
    
    margin-top: 4rem;
}

.logo2{
    width: 8.42113rem;
    height: 2.87538rem; 
    
    margin-top: 2rem;
}


.btnn1{
    margin-top: 5rem;
}

.btnn1{
    display: flex;
    align-items: center;
    height: 5rem;
    border-radius: 4rem;
    border: none;
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
    transition: all 0.3s ease;
    font-size: 2rem;
    font-family: var(--main-font);
    padding-left: 12.5rem;
    margin-bottom: 2rem;
    margin-left: 7rem;
    font-weight: 700;
    background-color: var(--yellow);
    width: 31rem;
}
.cancel{
    display: flex;
    align-items: center;
    width: 28rem;
    height: 5rem;
    border-radius: 4rem;
    border: none;
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
    transition: all 0.3s ease;
    font-size: 1.5rem;
    font-family: var(--main-font);
    padding-left: 11rem;
    margin-bottom: 2rem;
    margin-left: 8.5rem;
}


.awed{
    width: 2rem;
    height: 3rem;
    margin-top: .3rem;
    margin-left: 9rem;
}

.btnn1>h5{
    color: #000;
    font-family: var(--main-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.5rem;
}

.lose{
    background-color: var(--red);
}

.draw{
    background-color: var(--purple);
}


  